* {
    box-sizing: border-box;
}

a {
    color:inherit;
    text-decoration: none;
   }

body, html {
    margin: 0px;
    padding: 0px;
  }

.big-text{
    margin-left: 20px;
    font-family: Roboto;
    font-weight: 400;
}

.big-text:hover{
    font-weight: 700;
    cursor: pointer;
}


#burger-img{
    width: 40px;
    height: 40px;
}

.res-img{
    width: 100%;
    height: 100%;
    padding: 0;
    
    left: 0;
    right: 0;
}




@media (min-width:400px)
{
    #navbar{
        display: grid;
        left: 0px;
        top:0px;
        height: 80px;
        grid-template-columns: repeat(12,1fr);
        
        
    }

    

    #logo-and-text{
        display: grid;
        align-self: center;
        justify-self: start;
        align-items: center;
        grid-column: 2/3;
        grid-template-columns: 1fr 1fr;
    }

    #logo{
        width: 40px;
        height: 40px;
    }    

    #burger{
        display: grid;
        align-items: center;
        justify-self: center;
        grid-column: 11/12;
        align-self: center;
    }

    #menu{
        grid-column: 1/13;
        grid-row: 2;
        display: grid;
        justify-items: center;
        background-color: #FFE99D;
        align-items: center;
        display: none;
    }


    #main-content{
        display: grid;
        
    }
    #center-main-content{
        display: grid;
        justify-self: center;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
        width: 80%;
        
        
        
    }

    

    #text-and-badge{
        width: 100%;
        background-size: 100%;
        background-position-x: left;
        background-position-y: bottom;
        background-repeat: no-repeat;
        background-image: url("FeatureGraphic.svg");
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }

    #title-text{
        align-self: flex-end;
        font-family: "Roboto";
        font-size: 20px;
        font-weight: 400;
    }

    #play-badge{
        height: 100px;
        width: auto;
    }

    
    #video{
        width: 100%;
        height: auto;
    }
   
   


    #description-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr ;
        justify-items: center;
    }
    
    #description-text{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        align-self: center;
        
    }
    #description-para{
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 300;
        align-self: center;
        text-align: justify;
        margin-left: 10%;
        margin-right: 10%;
        line-height: 200%;
    
    }
   


    #img-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;

    }

    #screen_1{
        width: 200px;
        height: auto;
    }

    #screen_2{
        width: 200px;
        height: auto;
    }

    #screen_3{
        width: 200px;
        height: auto;
    }

    #footer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: center;
    }
    
    #footer-text{
        font-family: "Roboto";
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        width: 100%;
    }

/*
    #screenshot-container{
        display: grid;
        grid-template-columns: 10% 26.66% 26.66% 26.66% 10%;
        grid-template-rows: 1fr;
    }

    #left-icon{
        align-self: center;
        justify-self: center;
        
    }
    #left-image
    {
        background-color: green;
        height: 199.33px;
        width:auto;
        align-self: center;
        justify-self: center;
    }
    #center-image
    {
        background-color: pink;
        height: 299px;
        width: auto;
        
        align-self: center;
        justify-self: center;        
    }
    #right-image
    {
        background-color: yellow;
        height: 199.33px;
        width:auto;
        align-self: center;
        justify-self: center;
    }
    #right-icon
    {
        align-self: center;
        justify-self: center;
    }
    */
    

}

@media (min-width:800px)
{
    #navbar{
        display: grid;
    
        grid-template-columns: repeat(12,1fr);
        height: 80px;
        left: 0px;
        top:0px;    
    }

    

   #logo{
       width:50px;
       height:50px;
   }

    #logo-and-text{
        display: grid;
        grid-column: 2/3;
        justify-self: start;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    #burger{
        grid-column:10/11 ;
        display: none;
    }

    #menu{
        display: grid;
        grid-column: 10/12;
        grid-row: 1;
        background-color: white;
        justify-self: end;
        grid-template-columns:  1fr;
        align-items: center;
        align-self: center;
        visibility: visible;
        
    }

    #main-content{
        display: grid;
        
    }
    #center-main-content{
        display: grid;
        justify-self: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        width: 70%;
        
        
    }

    

    #text-and-badge{
        width: 100%;
        background-size: 100%;
        background-position-x: left;
        background-position-y: bottom;
        background-repeat: no-repeat;
        background-image: url("FeatureGraphic.svg");
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }

    #title-text{
        align-self: flex-end;
        font-family: "Roboto";
        font-size: 20px;
        font-weight: 400;
    }

    #play-badge{
        height: 100px;
        width: auto;
    }

    
    #video{
        width: 100%;
        height: auto;
    }
   

    #description-container{
        height: 350px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr ;
        justify-items: center;
    }
    
    #description-text{
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        font-size: 20px;
        align-self: center;
        
    }
    #description-para{
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 300;
        align-self: center;
        text-align: justify;
        margin-left: 20%;
        margin-right: 20%;
        line-height: 200%;
    
    }

    #img-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        
        align-items: center;
    }

    #screen_1{
        width: 200px;
        height: auto;
        justify-self: flex-end;
    }

    #screen_2{
        width: 200px;
        height: auto;
    }

    #screen_3{
        width: 200px;
        height: auto;
        justify-self: flex-start;
    }

    #footer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: center;
    }
    
    #footer-text{
        font-family: "Roboto";
        font-weight: 300;
        font-size: 16px;
    }

    /*
    
    #screenshot-container{
        display: grid;
        grid-template-columns: 10% 26.66% 26.66% 26.66% 10%;
        
        grid-template-rows: 1fr;
    }


    #left-icon{
        align-self: center;
        justify-self: center;
        
    }
    #left-image
    {
        background-color: green;
        height: 199.33px;
    x   width:auto;
        align-self: center;
        justify-self: center;
    }
    #center-image
    {
        background-color: pink;
        height: 299px;
        width: auto;
        grid-column: 3/4;
        align-self: center;
        justify-self: center; 
    }
    
    #right-image
    {
        background-color: yellow;
        height: 199.33px;
        width:auto;
        align-self: center;
        justify-self: center;
    }
    #right-icon
    {
        justify-self: center;
        align-self: center;
    }

    */
     


}